
.m-header{
  border: 1px solid #000;
  background: #666;
}

.m-header h1{
  font-size: 14px;
  color: #FFF;
  margin: 7px 0 7px 7px;
  display: inline-block;
  font-weight: bold;
}

.m-header i {
  color: #FFF;
  margin: 7px 5px 0 0;
}
